@import url('https://fonts.googleapis.com/css2?family=Fredoka+One:wght@400&display=swap');

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--gray-stone);
  color: var(--gray-charcoal);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: var(--gray-stone);
  color: var(--primary-color);
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--border-radius-small);
  border: 1px solid var(--green-leaf);
}
